*{
    box-sizing: border-box;
}
@media screen and (min-width:382px) and (max-width:914px){
    .container{
        display: flex;
        flex-direction: column;    
    }
    .conteudoPrincipal-cursos1{
        display: flex;
        flex-direction: column;
    }   
    .rodapePrincipal-navMap-link{
        display: flex;
        flex-direction: column;       
    }
    .videoSobre{
        display: flex;
    }
    .videoSobre-video{
        display: block;
        align-items: center;
        justify-content: space-around;      
    }
    .videoSobre-sobre{
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }
    .rodapePrincipal-navMap-list > .list {
        display: flex;
        flex-direction: column;
    }
    .rodapePrincipal-patrocinadores-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;       
    }
    .rodapePrincipal-contatoForm{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:920px) and (max-width:1024px){
    .container1{
        display: flex;
        /* justify-content: space-between; */
        }
    .container{
        display: flex;          
        }
    .container2 {
        display: block;
    }
    .cabecalhoPrincipal-nav{
        display: flex;
        flex-direction: row;
        margin-left: 25vh;
        }
    .cabecalhoPrincipal-titulo{
        margin-left: 7vh;
        }
    .cabecalhoPrincipal-nav-link{
        border: none;
        display: flex;
        flex-direction: column;   
        }
    .conteudoPrincipal-cursos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
        gap: 15px;
        margin-left: 7vh;
        margin-right: 7vh;
        margin-bottom: 1vh;
        }
    .subtitulo1 {
        margin-left: 7vh;
    }    
    .videoSobre {
        display: flex;
        }
    .videoSobre-video {
        display: flex;
        justify-content: flex-start;
        padding-right: 5vh;
        }
    .videoSobre-sobre-title{
        display: flex;
        justify-content: center;
        }
    .videoSobre-sobre-item { 
        display: flex;
        justify-content: center;
        }
    .videoSobre-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vh;
        margin-top: 10vh;
    }
    .rodapePrincipal-navMap-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }
    .subtitulo {
        margin-left: 1px;
    }
    .rodapePrincipal-navMap-list > div {
        display: flex;
        flex-direction: column;
    }
    .list {
        display: flex;
        flex-direction: column
    }
    .rodapePrincipal-patrocinadores-list {
        display: flex;
        gap: 50px;
        align-items: center;
    }
    .rodapePrincipal-contatoForm {
        margin-left: 10vh;
    }
    .rodapePrincipal-contatoForm-submit{
        padding: 1vh;
    }
    }

